body {
    margin: 0 auto;
    background-color: hsl(217, 54%, 11%) ;
    font-family: Outfit;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: hsl(216, 50%, 16%);
    margin-left: 50em;
    margin-top: 15em;
    padding: 0;
    width: 22em;
    height: 35.5em;
    border-radius: 2%;
    box-shadow: 0rem 1.5625rem 3.125rem rgba(0, 0, 0, 0.0952917);

    
    }

img {width: 300px;
    height: 300px;
    padding-top: 1.5em;
    border-radius: 2%;
    }

.text {
    margin-left: 1.7em;
    margin-right: 1.7em;}

h1 {font-size: 23px;
    color: hsl(0, 0%, 100%);
    font-weight: 600;}

#descrip {color: hsl(215, 51%, 70%);}

#img-eth {
    
    width: 12px;
    height: 15px;
    padding-right: 0.2em;
    
    
}
img:hover {  opacity: 0.5;
    transition-duration: 0.3s;
    cursor: pointer;}

#clock-logo {width: 15px;
    height: 17px;
    padding-right: 0.2em; }

#img-avatar {width: 20px;
    height: 20px;
    padding-right: 0.2em;
    
    }


.cost {width: 300px;
       display: inline-block;
       align-items: center;
       margin-bottom: 1em;
       
       
   }


.eth { float: left;
    color: hsl(178, 100%, 50%);
   

    }

.days {float: right;
    color:hsl(215, 32%, 27%);
    
    }

hr {margin: 0;
    border: 1px solid hsl(215, 32%, 27%);
    
}

footer {margin-top: -7px;}

name:hover{
    color: #00FFF8;
    cursor: pointer;
    transition-duration: 0.3s;}